html {
  width: 100%;
  height: 100%;
  background: url("../imgs/floor-texture-wenge-hardwood-lugher-library-seamless-light.jpg");
  background-repeat: repeat;
  background-size: 100%;
  background-size: cover;
  z-index: -10;
  repeat-style: round;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.trade-text {
  color: black;
  position: relative;
  bottom: 15px;
  left: 4%;
}

.section1 {
  z-index: -15;
}

/* STYLING FOR SLIDING SCREEN */
a {
  color: black;
  text-decoration: none;
  font-size: 130%;
}

h1,
p {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 10px;
  left: 10px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: -100;
}

.full-screen {
  display: flex;
  width: 500vw;
  max-width: calc(1920px *3);
  max-height: 100%;
  overflow: hidden;
  height: 100%; /* makes panels the entire window height */
  z-index: -100;
  position: relative;
}

.dead-scrolls-label {
  position: relative;
  right: 16%;
}

/* STYLING FOR MAIN IMAGE DIVS */
.old-world-map {
  position: relative;
  bottom: 80px;
  left: 28%;
  z-index: 9999999999999;
}

.dead-sea-scrolls {
  position: relative;
  width: 23%;
  overflow-x: hidden;
  right: 19%;
  top: 70px;
}

.qatar-gov {
  position: relative;
  top: 185px;
  right: 45%;
}

.early-world-map {
  position: relative;
  left: 1%;
  bottom: 80px;
}

.drawing {
  position: relative;
  top: 150px;
  left: 4%;
}

.city-pic {
  position: relative;
  right: 11px;
  transform: rotate(15deg);
  bottom: 105px;
}

.palace {
  position: relative;
  right: 21%;
  top: 110px;
  transform: rotate(-5deg);
}

/* STYLING FOR MAIN IMAGES */
.dead-scrolls-image {
  position: relative;
  right: 69%;
}

.city-pic-image {
  z-index: 5000;
}

/* MODAL STYLING */
